<!doctype html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
     
     
<title>Sandbox Design</title>
    {{ content_for_header }}
  
  </head>

  <body>
     <h1>Hello Billy</h1>
    {% render 'article-card' article_title: "1st Dev Server" %}
    {% render 'article-card' article_title: "2nd Article" %}
    {% render 'article-card' article_title: "3rd Article" %}
    
    {{ content_for_layout }}
    
    
  </body>
</html>
