<section>
  <p>THE JOURNAL</p>
  <h2>Our process</h2>
  <ul>
    <li>
    {% render 'article-card', article_title: 'Only for the brave' %}
    </li>
  </ul>
</section>

{% schema %}
{
  "name": "Featured Articles",
  "settings": [
    {
      "type": "color",
      "id": "body_text",
      "label": "Body textt",
      "default": "#000000"
    }
  ]
}
{% endschema %}
